@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*配色*/
  --background: #FFFFFF; /*背景色*/
  --anime-item-background: #F7F7F7; /*列表项背景色*/
  --anime-title-color: #000000; /*标题颜色*/
  --anime-episode-color: #383838; /*集数颜色*/
  --highlight-color: #ff7200; /*高亮色*/
  /*字体*/
  --font-family: Noto Sans SC, sans-serif; /*字体*/
  /*布局参数*/
  --anime-item-width: 400px; /*列表项宽度*/
  --anime-item-padding: 15px; /*列表项内边距*/
  --anime-item-gap: 15px; /*列表项间距*/
  --anime-item-border-radius: 15px; /*列表项圆角*/
}

@media (prefers-color-scheme: dark) {
  :root {
    /*配色*/
    --background: #191919; /*背景色*/
    --anime-item-background: #333333; /*列表项背景色*/
    --anime-title-color: #ffffff; /*标题颜色*/
    --anime-episode-color: #cccccc; /*集数颜色*/
  }
}

body {
  background-color: var(--background);
}