/* pages/AnimeList.module.css */
/* Bilibili 番剧列表样式 */

.box {
    width: 100%;
}
/* 番剧列表容器 */
.anime-list {
    list-style: none;
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 番剧列表项 */
.anime-item {
    flex: 1;
    flex-basis: 0;
    min-width: var(--anime-item-width) !important;
}
/* 番剧列表项容器 */
.anime-link {
    display: flex;
    align-items: flex-start;
    padding: 0;
    /*gap: var(--anime-item-gap);*/
    background: var(--anime-item-background);
    border-radius: var(--big-radius); /*大圆角*/
    overflow: hidden;
}
/* 番剧封面 */
.anime-cover {
    width: 200px;
    height: 120px;
    flex-shrink: 0;
    object-fit: cover; /* 将内容缩放以填充容器，并保持纵横比 */
}
/* 番剧信息 */
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    padding: var(--anime-item-padding);
}
.anime-title, .anime-episode {
    /* 番剧标题和集数 */
    align-self: stretch;
    font-family: var(--font-family);
    font-style: normal;
}
.anime-title {
    /* 番剧标题 */
    color: var(--anime-title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%; /* 14px */
}
.anime-episode {
    /* 集数 */
    color: var(--anime-episode-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 100%; /* 12px */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* 限制标题和集数的行数 */
.info p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    align-self: stretch;
    overflow: hidden !important;
}
.anime-title {
    /* 限制标题最多显示两行 */
    -webkit-line-clamp: 2;
}
.anime-episode p {
    /* 限制集数最多显示一行 */
    -webkit-line-clamp: 1;
}
/* 未追完的番剧进度文字 */
.anime-episode span.watched-episode {
    color: var(--highlight-color);
    font-weight: 800;
}
/* 进度条 */
.progress-bar {
    /* 轨道 */
    width: 100%;
    height: 5px;
    background-color: var(--background);
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    border-radius: var(--small-radius); /*小圆角*/
}
.progress {
    /* 进度 */
    height: 100%;
    background-color: var(--highlight-color);
}